#homepage {
  width: 100%;
  min-height: 90vh;
  gap: 3%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .chakra-card {
    width: 400px;
    height: 450px;
    padding: 20px;

    .chakra-image {
      margin: auto;
      height: 280px;
    }
  }
}

@media only screen and (max-width: 1250px) {
  #homepage {
    gap: 30px;
    .chakra-card {
      width: 200px;
      height: 220px;

      .chakra-image {
        height: 100px;
      }

      h2 {
        font-size: 18px;
      }
    }
  }
}
