.currency-logo {
  width: 2em;
  display: inline-block;
  margin-right: 0.5em;
}

.loss {
  color: var(--chakra-colors-red-500);
  font-weight: bold;
}

.profit {
  color: var(--chakra-colors-green-500);
  font-weight: bold;
}

.protocol-stats {
  display: grid;
  grid-auto-columns: auto;
  margin: 0 10%;
  text-align: center;
  .chakra-stat {
    text-align: center;
    min-width: 280px;
    margin: auto;
    padding: 20px;
    .chakra-stat__label {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3em;
    }
  }
}

@media only screen and (max-width: 700px) {
  .protocol-stats {
    .chakra-divider {
      display: none;
    }
  }
}
